.create-template {
  .headerContainer {
    border-bottom: 1px solid #EAECF0;
    height: 52px;
    padding: 15px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    .left-elements {
      display: flex;
      .left-child {
        .back-circle {
          margin-right: 16px;
          cursor: pointer;
          .circle {
            cursor: pointer;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #EAECF0;
            // background-color: #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .right-child {
        .bread-crum {
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: #1d2939;
        }
        .template-label {
          display: flex;
          align-items: center;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }

  .childContainer {
    padding: 25px 25px 0px 25px;
    width: calc(100% - 50px);
    margin-bottom: 20px;
    .inner-headerContainer {
      border: 1px solid #EAECF0;
      border-bottom: none;
      border-radius: 5px 5px 0 0;
      // border-top:  1px solid  #EAECF0;
      height: 32px;
      padding: 24px 20px;
      display: flex;
      justify-content: space-between;
      // margin-top: 2%;
      background: #ffffff;
      .left-elements {
        display: flex;
        align-items: center;
        .right-child {
          display: flex;
          gap: 15px;
          .temp-properties-name {
            font-size: 18px;
            font-weight: 600;
          }
          .buttonBorder {
            .mat-raised-button-rev {
              height: 25px;
              width: 75px;
              background-color: white;
              border: 1px solid rgba(243, 118, 49);
              border-radius: 3px;
              .buttonText {
                font-weight: 400;
                font-size: 12;
                color: #7b2f05;
              }
            }
          }
        }
      }
      .right-elements {
        .rightText {
          display: flex;
          flex-direction: column;
          .updatestatus {
            display: flex;
            justify-content: flex-end;
            .uname {
              font-size: 16px;
              font-weight: 500;
              color: #1d2939;
              margin-bottom: 2px;
            }
          }
          .rightBottomText {
            display: flex;
            gap: 3px;
            .name {
              font-size: 12px;
              font-weight: 600;
              color: #667085;
            }
            mat-icon {
              height: 14px;
              width: 14px;
            }
            .date,
            .time {
              font-size: 12px;
              font-weight: 400;
              color: #667085;
            }
          }
        }
      }
    }
    .main-container {
      display: flex;
      &.bottom-radius-none {
        .left-panel {
          border-radius: 0;
        }
        .right-panel {
          border-radius: 0;
        }
      }
      .left-panel {
        width: 365px;
        border: 1px solid #EAECF0;
        border-right: 0px;
        border-radius: 0 0 0 4px;
        background: #ffffff;
      }
      .right-panel {
        overflow: auto;
        border: 1px solid #EAECF0;
        width: calc(100% - 361px);
        border-radius: 0 0 4px 0;
        background: #ffffff;
      }
    }
  }

  div.main-container > div.left-panel > button > div > mat-icon {
    margin-top: 5px;
    height: 14px;
    width: 14px;
  }
  .buttonText {
    font-weight: 400;
    font-size: 12;
    color: #7b2f05;
  }

  .mat-mdc-button .mat-mdc-button-touch-target,
  .mat-mdc-unelevated-button .mat-mdc-button-touch-target,
  .mat-mdc-raised-button .mat-mdc-button-touch-target,
  .mat-mdc-outlined-button .mat-mdc-button-touch-target {
    position: absolute;
    top: 50%;
    height: 34px !important;
    left: 0;
    right: 0;
    // width: 309px;
    transform: translateY(-50%);
    // border: 1px solid #EAECF0;
  }
  .mat-raised-button-rev {
    height: 25px;
    width: 75px;
    background-color: white;
    border: 1px solid rgba(243, 118, 49);
    border-radius: 3px;
  }
  .mat-raised-button-top {
    height: 40px;
    // width: 125px;
    border: none;
    border-radius: 3px;
  }

  //nested tree
  //==============================================
  .mat-mdc-radio-group {
    margin-right: 20px;
    margin-bottom: 5px;
  }

  .example-viewport {
    height: 200px;
    width: 200px;
  }

  .form {
    .right-panel-header {
      border-bottom: 1px solid #EAECF0;
      padding: 16px 0px !important;
      margin: 0px 32px;
      height: 22px;
      padding: 15px;
      display: flex;
      height: auto !important;
      .right-panel-left-content {
        align-self: flex-start;

        .bread-crum {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #1d2939;
        }
        .bread-crum-child {
          font-weight: 500;
          font-size: 12px !important;
          line-height: 18px;
          color: #8e949c;
        }
      }
    }
    .right-panel-main-content {
      padding: 14px 14px;

      .one-line {
        display: flex;
        width: 100%;

        .left-box {
          width: 50%;
        }
        .right-box {
          width: 50%;
        }
        .text-container {
          padding: 20px;
          width: 100%;
        }
      }
      .input-container {
        padding: 20px 20px 0px 20px;
        margin: 0px;
      }
      .label-container {
        margin-bottom: 4px;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #1d2939;

        .input-label {
          margin-bottom: 3px;
        }
      }
    }
  }

  // side drawer
  .drawer-sidenav {
    height: 100%;
    margin-bottom: 0px;
    .sidenav-wrap {
      padding: 40px 20px;
      // height: calc(100vh - 300px) !important;
      .box-wrap {
        color: #b42318;
        line-height: 30px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
        &.warning {
          color: #b54708;
          .box-digit {
            border: 1px solid #b54708;
            background: #fffcf5;
          }
        }
        .box-digit {
          background: #fffbfa;
          border: 1px solid #b42318;
          border-radius: 4px;
          font-size: 20px;
          padding: 10px 22px;
        }
        .box-error {
          font-size: 16px;
          margin-top: 5px;
        }
      }
      .bigslider-wrap {
        padding-left: 12px;
        padding-right: 12px;
        .scroll-wrap {
          height: calc(100% - 30px) !important;
          overflow: auto;
          padding-bottom: 55px;
        }
        .title-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: 600;
          font-size: 18px;
          line-height: 28px;
          color: #1d2939;
          margin-bottom: 10px;
        }
        .close-icon {
          margin-left: 40px;
          cursor: pointer;
          align-items: center;
          display: flex;
          .mat-icon {
            width: 16px;
          }
        }
        .tag-wrap {
          margin: 14px 0px 24px 0px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: #b42318;
          border: 1px solid #b42318;
          border-radius: 4px;
          display: inline-flex;
          padding: 5px 10px;
          &.warning-tag {
            border: 1px solid #b54708;
            color: #b54708;
          }
          b {
            margin-right: 3px;
          }
        }
        .content-box {
          width: 300px;
          border-bottom: 1px solid #d0d5dd;
          margin-bottom: 24px;
          .title {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #b42318;
            &.warning-title {
              color: #b54708;
            }
            b {
              margin-right: 3px;
            }
          }
          .desc {
            margin: 8px 0px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #475467;
          }
        }
      }
    }

    .closbtn-wrap {
      padding-left: 26px;
      position: absolute !important;
      bottom: 0px;
      right: 22px;
      top: auto !important;
      width: auto;
      padding: 20px 0px;
      display: flex;
      flex-direction: row-reverse;
      background: white;
      &.strick-width {
        width: 391px;
      }
      .btn-position {
        right: 15px;
      }
      .cols-btn {
        position: relative !important;
        bottom: 0px !important;
        box-shadow: none;
        padding: 0px;
        &:focus,
        &:hover,
        &:active {
          box-shadow: none !important;
          background: #ffffff !important;
        }
        .mat-icon {
          margin-right: 0;
        }
      }
    }
  }
}
.same-line {
  display: inline;
  /* Add other styling as needed */
}
