<div class="dateformate-modal">
  <div class="modal-title">
    <div class="title">Date Format Information</div>
    <div class="close-icon" mat-dialog-close>
      <mat-icon svgIcon="close"></mat-icon>
    </div>
  </div>
  <div class="sub-title">
    Below you will find what each variable represents:
  </div>
  <div mat-dialog-content class="modal-content">
    <span matListItemLine><b>DD</b> - Numeric month (ex. 01,02,03,04) </span>
    <span matListItemLine
      ><b>dd</b> - Abbreviated day of the week (ex. Mon, Tue, Wed)
    </span>
    <span matListItemLine
      ><b>HH</b> - Hour, 2 digits in 24 hour clock (ex. 01, 02, 03)</span
    >
    <span matListItemLine
      ><b>hh</b> - Hour, 2 digits in 12 hour clock (ex. 01, 02, 03)</span
    >
    <span matListItemLine
      ><b>MMM</b> - Abbreviated month (ex. Jan, Feb, Mar)</span
    >
    <span matListItemLine><b>MM</b> - Numeric month(ex. 01,02,03,04)</span>
    <span matListItemLine
      ><b>mm</b> - Abbreviated minutes (ex. 01, 02, 03)</span
    >
    <span matListItemLine
      ><b>SS</b> - Second, 2 digits in 24 hours (ex. 01, 02, 03)</span
    >
    <span matListItemLine
      ><b>ss</b> - Second, 2 digits in 12 hours (ex. 01, 02, 03)</span
    >
    <span matListItemLine
      ><b>YYYY</b> - Week year, or the year the week falls into (ex.
      2023,2024,2025)</span
    >
    <span matListItemLine>yyyy - Calendar year (ex. 2023, 2024, 2025)</span>
  </div>
  <div mat-dialog-actions class="modal-buttons">
    <div class="right-elements">
      <button mat-dialog-close class="btn primary-btn">Ok</button>
    </div>
  </div>
</div>
