<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Group 1 </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item>Item 1</a>
      <a mat-list-item>Item 2</a>
      <a mat-list-item>Item 3</a>
    </mat-nav-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Group 2 </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item>Item 4</a>
      <a mat-list-item>Item 5</a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
