<div class="inner-headerContainer">
  <div class="left-elements">
    <div class="right-child">
      <div class="temp-properties-name">{{ headerData.headerName }}</div>
      <div class="buttonBorder" *ngIf="headerData.status">
        <button class="mat-raised-button-rev {{ headerData.status }}">
          <p>{{ headerData.status }}</p>
        </button>
      </div>
    </div>
  </div>

  <div class="right-elements" *ngIf="headerData.lastUpdateBy">
    <div class="rightText">
      <div class="updatestatus">
        <p class="uname">Last Updated By</p>
      </div>
      <div class="rightBottomText">
        <div>
          <p class="name">{{headerData.lastUpdateBy}}</p>
        </div>
        <div>
          <mat-icon svgIcon="clock-circle"></mat-icon>
        </div>
        <div>
          <p class="date">{{headerData.date}},</p>
        </div>
        <div>
          <p class="time">{{headerData.time}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
