<!-- load all svg icons -->
<app-svg-icons></app-svg-icons>

<!-- Main content starts here -->
<mat-toolbar class="toolbar" *ngIf="isLoggedIn()">
  <mat-icon (click)="toggleSidebar()" class="pointer">menu</mat-icon>
  <img src="assets/logo.svg" class="logo" />
  <span class="flexExpand"></span>
  <app-header></app-header>
</mat-toolbar>

<router-outlet *ngIf="!isLoggedIn()"></router-outlet>
<mat-drawer-container
  *ngIf="isLoggedIn()"
  class="menu-container mat-typography">
  <mat-drawer
    *ngIf="isLoggedIn()"
    #drawer
    mode="side"
    disableClose="true"
    opened="true"
    [ngClass]="{ menuhandle: isSidebarOpen }">
    <mat-nav-list>
      <mat-list-item
        routerLink="/dashboard"
        routerLinkActive="active-list-item">
        <h4 class="menu-text">
          <mat-icon svgIcon="dashboard" class="pointer myIcon"></mat-icon>
          <span class="menu-name">Dashboard</span>
        </h4>
      </mat-list-item>
      <mat-list-item
        routerLink="/partners"
        routerLinkActive="active-list-item"
        *ngIf="utilService.checkPerms({FX_Partner: ['read']})">
        <h4 class="menu-text">
          <mat-icon svgIcon="partners" class="pointer myIcon"></mat-icon>
          <span class="menu-name">Partners</span>
        </h4>
      </mat-list-item>
      <mat-list-item
        routerLink="/connections"
        routerLinkActive="active-list-item"
        *ngIf="utilService.checkPerms({FX_Connection: ['read']})">
        <h4 class="menu-text">
          <mat-icon svgIcon="connection" class="pointer myIcon"></mat-icon>
          <span class="menu-name">Connections</span>
        </h4>
      </mat-list-item>
      <mat-list-item
        routerLink="/templates"
        routerLinkActive="active-list-item"
        *ngIf="utilService.checkPerms({FX_IntegrationTemplate: ['read']})">
        <h4 class="menu-text">
          <mat-icon svgIcon="templates" class="pointer myIcon"></mat-icon>
          <span class="menu-name">Templates</span>
        </h4>
      </mat-list-item>
      <mat-list-item
        routerLink="/integrations"
        routerLinkActive="active-list-item"
        *ngIf="utilService.checkPerms({FX_Integration: ['read']})">
        <h4 class="menu-text">
          <mat-icon svgIcon="integrations" class="pointer myIcon"></mat-icon>
          <span class="menu-name">Integrations</span>
        </h4>
      </mat-list-item>
      <mat-list-item
        routerLink="/run-history"
        routerLinkActive="active-list-item"
        *ngIf="utilService.checkPerms({FX_RunHistory: ['read']})">
        <h4 class="menu-text">
          <mat-icon svgIcon="run-history" class="pointer myIcon"></mat-icon>
          <span class="menu-name">Run History</span>
        </h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content [ngClass]="{ drawerWidth: !isSidebarOpen }">
    <div class="example-sidenav-content">
      <router-outlet> </router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
<div
  *ngIf="showSpinner"
  fxShow
  class="data-load-backdrop-wrapper position-fixed"
  fxFlexFill
  fxLayoutAlign="center center">
  <div class="data-load-backdrop position-fixed"></div>
  <div class="data-loader">
    <mat-progress-spinner
      mode="indeterminate"
      strokeWidth="2"
      diameter="30"></mat-progress-spinner>
  </div>
</div>
