<mat-card class="header-title">
  <div class="row">
    <div class="title">Partners</div>
    <div class="create-button">
      <button
        *ngIf="utilsService.checkPerms({FX_Partner: ['create']})"
        class="theme-button active-btn"
        (click)="createPartner()"
        mat-flat-button
        aria-label="Create Partner">
        <mat-icon svgIcon="plus" class="icon-small"></mat-icon>Create New
      </button>
    </div>
  </div>
</mat-card>
<div class="panel">
  <mat-card>
    <div class="row search-section">
      <div class="right-elements">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix svgIcon="magnifier" class="icon-small"></mat-icon>
          <input
            matInput
            type="search"
            placeholder="Search by Partner Name"
            (input)="onChange({ input: $event.target.value })"
            [(ngModel)]="searchValue" />
        </mat-form-field>
      </div>
    </div>
    <div class="row filter-section">
      <div class="filter-options">
        <app-drop-down-with-search
          *ngFor="let item of cfgOpt | keyvalue: originalOrder"
          [placeHolder]="item.value.placeholder"
          [placeHolderSearchBox]="item.value.searchplaceholder"
          [label]="item.value.label"
          [multiple]="true"
          [selectBoxOptions]="config[item.value.label]"
          [selectedValue]="getSelectedValue(config[item.value.label], item.value.field)"
          [fieldName]="item.value.field"
          (valueChange)="onChange($event, item.value.field)">
        </app-drop-down-with-search>
      </div>
      <div class="filter-reset">
        <button
          mat-stroked-button
          *ngIf="refresh"
          class="refresh"
          (click)="getRefreshData()">
          <mat-icon svgIcon="refresh" class="refresh-icon"></mat-icon>
        </button>
        <button mat-stroked-button (click)="resetFilters()">
          Reset Filters
        </button>
      </div>
    </div>
    <app-partner-list
      [data]="data"
      [config]="config"
      [handler]="getDataHandler"></app-partner-list>
  </mat-card>
</div>
