.loginContainer {
  display: flex;
  height: 100vh;
  width: 100%;
}

.leftPanel {
  /* flex: 1; */
  background-color: #F47B20 !important; /* Orange color from the screenshot */
  display: flex;
  align-items: flex-end;
  width: 60%;
  padding: 75px;
  z-index: 0;
  opacity: 0.8;
}

.welcomeText {
  color: white;
  /* font-size: 2rem;
  font-weight: bold; */
  margin-bottom: 60px;
  padding-left: 70px;
  font: 400 34px / 40px Roboto, "Helvetica Neue", sans-serif;
  font-weight: bolder;
}

.rightPanel {
  /* flex: 1; */
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.formWrapper {
  width: 42%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 250px;
  margin-bottom: 40px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputGroup {
  width: 100%;
  margin-bottom: 15px;
}

.inputField {
  width: 100%;
  padding: 12px;
  border: 1px solid #F47B20;
  border-radius: 4px;
  font-size: 1rem;
  --tw-ring-color: none !important;
}

.inputField:focus {
  border: 1px solid #6b7280 ;
  --tw-ring-color: none !important;
}

.loginButton {
  width: 100%;
  padding: 10px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.38);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  font-size: 12px;
}

.lockIcon {
  font-size: 1rem;
}

.formFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.rememberMe {
  display: flex;
  align-items: center;
  gap: 5px;
}

.forgotPassword {
  color: #0066cc;
  text-decoration: none;
}

.forgotPassword:hover {
  text-decoration: underline;
}

.errorInput {
  border: 1px solid #dc3545 !important;
  background-color: #fff !important;
  outline: none;
  --tw-ring-color: none !important;
}

.errorText {
  color: #dc3545;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 4px;
  text-align: left;
}