<div class="responsive-table">
  <app-dynamic-table
    *ngIf="config"
    [config]="config"
    [data]="data"
    [requiredData]="requiredData"
    [handlers]="handlers">
  </app-dynamic-table>
  <div *ngIf="utilsService.checkPerms({'User':['read']})">
    <mat-card class="header-title">
      <div class="row">
        <div class="title">Partner Admins</div>
        <div class="create-button">
          <button
            *ngIf="utilsService.checkPerms({'User': ['create']})"
            class="theme-button active-btn"
            mat-flat-button
            aria-label="Create User"
            (click)="createUser()">
            <mat-icon svgIcon="plus" class="icon-small"></mat-icon>Create
            Partner Admins
          </button>
        </div>
      </div>
    </mat-card>
    <app-dynamic-table
      *ngIf="childConfig"
      [config]="childConfig"
      [data]="childData"
      [handlers]="handlers">
    </app-dynamic-table>
  </div>
</div>
