<div fxLayout="row" fxFlexFill>
  <div fxLayout="row" fxFlex="60" class="welcome-img position-relative">
    <div
      fxLayout="column"
      fxFlexOffset="10"
      fxLayoutAlign="flex-end start"
      class="pr-70">
      <h1
        class="font-weight-bolder pb-70 mat-display-1"
        i18n="Welcome2@@welcomeTwo">
        WELCOME TO FEEDXCHANGE PORTAL
      </h1>
    </div>
    <div class="bg-accent position-absolute bg-color-wrapper"></div>
  </div>
  <div fxLayout="column" fxFlex="40" fxLayoutAlign="center center">
    <div>
      <div fxLayout="column" fxFlex="350px" fxLayoutGap="40px">
        <div fxLayoutAlign="center center">
          <img
            fxFlexAlign="center"
            i18n-title
            title="ReactorCX FeedX Portal"
            src="assets/images/reactor_cx_logo.png" />
        </div>
        <div>
          <div fxFlex>
            <mat-error
              *ngIf="errorMessage"
              fxLayout="row"
              fxLayoutAlign="start start"
              class="mb-20">
              <small class="mdi mdi-information-outline mdi-18px mr-5"></small>
              <small [innerHTML]="errorMessage"></small>
            </mat-error>
            <div
              *ngIf="infoMessage"
              class="mat-info text-accent p-5 mb-20"
              fxLayout="row"
              fxLayoutAlign="start start">
              <span class="mdi mdi-alert mdi-24px mr-10"></span>
              <span>{{infoMessage}}</span>
            </div>
            <form
              *ngIf="!infoMessage"
              fxLayout="column"
              [formGroup]="resetForm"
              fxLayoutGap="10px"
              (ngSubmit)="onPasswordSubmit()"
              novalidate>
              <div fxLayout="column" fxLayoutGap="10px">
                <mat-form-field
                  floatLabel="never"
                  class="form-field-border rounded-5">
                  <input
                    matInput
                    type="password"
                    placeholder="New Password"
                    formControlName="newPassword"
                    i18n-placeholder="Reset Password Input@@resetNewPasswordInput" />
                </mat-form-field>
                <mat-form-field
                  floatLabel="never"
                  class="form-field-border rounded-5">
                  <input
                    matInput
                    type="password"
                    placeholder="Confirm Password"
                    id="password"
                    formControlName="confirmPassword"
                    i18n-placeholder="Reset Confirm Password@@resetConfirmPasswordInput" />
                  <mat-error
                    *ngIf="resetForm.get('confirmPassword').errors"
                    i18n="Confirm Password Error@@resetConfirmPasswordError"
                    >Passwords Do Not Match
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxLayoutAlign="start stretch">
                <button
                  [disabled]="!resetForm.valid"
                  type="submit"
                  mat-raised-button
                  color="primary"
                  class="btn-lg"
                  fxLayout="row"
                  fxLayoutAlign="center center">
                  <span class="mdi mdi-login-variant mdi-18px"></span>
                  <span
                    fxFlexOffset="5px"
                    class="text-uppercase"
                    i18n="Reset Password Button@@resetPasswordBtnTwo"
                    >Reset Password</span
                  >
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
