$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 35, 40, 50, 55, 60, 65, 70);
$sides: (top, bottom, left, right);


$primary: #10355F !default;
$accent:#F47B20!default;
$warn: #C33A32 !default;
$success: #4BB543 !default;
$lightgray: #d4d4d4 !default;
$lightgrayshade: #F2F2F2 !default;